body{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "DejaVu Sans";
    height: 90vh;
}

#thermometre-section{
    margin: 50px;
    border-radius: 10px;
    background-color: #c2c2c2;
    box-shadow: 5px 5px 5px #d6d6d6;
    width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#historique-section{
    height: 75%;
}

.cadreBleu{
    border: solid 2px blue;
    border-radius: 5px;
    padding: 10px;
}
.cadreVert{
    border: solid 2px green;
    border-radius: 5px;
    padding: 10px;
}
.cadreOrange{
    border: solid 2px orange;
    border-radius: 5px;
    padding: 10px;
}
.cadreRouge{
    border: solid 2px red;
    border-radius: 5px;
    padding: 10px;
}